// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.navbar-item.navbar-phone {
  position: relative;
  padding-left: 2em;
}
.navbar-phone::before {
  content: "";
  position: absolute;  
  background: url(../images/ic_phone_24px.svg);
  left: 0.3em;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero-img {
  position: relative;
}
.hero-text {
  top: 15rem;
  color: #fff;
  position: absolute;
  right: 35rem;
  h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  .hero-heading-one {
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }
  .hero-heading-two {
    animation: moveInRight 1.5s ease-out;
  }
  .hero-heading-three {
    animation: moveInLeft 1.5s ease-out;
  }
  .sub-heading {
    font-size: 1.8rem;
    font-weight: 400;
    color: #2c3e50;
    display: block;
    animation: fadeIn 1.5s ease-out;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}




.footer {
  background-color: #00aeef;
  padding: 1rem 1.5rem 1rem; 
  color: #fff;
}
.input {
  height: 3em;
}
textarea {
  height: 12rem;
}
.hero-img img{
  width: 100%;
}
form {
  padding-bottom: 3rem;
}
.form-heading {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.form-heading::after {
  content: "";
  background: #00aeef;
  width: 7rem;
  margin: 0.5rem auto;
  display: block;
  height: 3px;
}
.contact {
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fff, #cacaca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff, #cacaca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.map iframe {
  height: 450px;
}
.contact-data ul {
  margin-left: 2.5em;
  margin-bottom: 1.8rem;
  li {
    line-height: 2em;
    position: relative;
    list-style: none;
  }
  
}
.fk-icon::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -2.5em;
  top: 0.25em;
}
.place::before {
  background-image: url(../images/ic_room_24px.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.email::before {
  background-image: url(../images/ic_mail_outline_24px.svg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.phone::before {
  background-image: url(../images/ic_phone_24px.svg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.working-hours {
  margin-top: 1.8rem;
  ul {
    margin-left: 0;
    li {
      list-style: none;
      line-height: 2em;
    }
  }
}
.button.is-primary {
  min-width: 6rem;
  background-color: #00aeef;
}
.button.is-primary:hover, .button.is-primary:focus, .button.is-primary:active {
  background-color: #0196ce;
}
.contact-logo {
  img {
    width: 10rem;
  }
}